#learnmore.modal(style="display: none;")
  .modal-header
    %a.close(data-dismiss="modal") &#215;
    %h3 Corporate Logo Analysis
  .modal-body

    %p This site is used to:
    %h5 Update
    %ul
      %li Upload the corporate logo
      %li Current/historical logo
      %li Start date of usage
    %h5 Enter
    %ul
      %li Enter company name
      %li Enter company stock ticker
      %li Enter company ranking on Forbes list or other
      %li Enter additional company information
    %h5 Analysis
    %ul
      %li Graphics
      %ul
        %li Shape(s)
        %li Color(s)
        %li Size/Proportion
      %li Text
      %ul
        %li Font(s)
        %li Color(s)
        %li Size/Proportion
  .modal-footer
    %a.btn(data-dismiss="modal" href="#") Close