.hero-unit
 %h1 Corporate Logo Analysis
 %hr
 %p This web-enabled online database is housed at BUUIC
 %p <a href="http://buuic.buu.ac.th/ic/">Burapha University International College</a>
 %p It analysis corporation and their corporate logos
 %p Both graphics (shapes,colors and text fonts)
 %a.btn.btn-primary.btn-large(data-toggle="modal" href="#learnmore" type="button")Learn more &raquo;
 =render "more"








- content_for :sidebar do
 - if current_user.blank?
  .welcome
   Welcome, please
   %a=link_to "sign in", new_user_session_path, :method => :get
   or
   %a=link_to "sign up", new_user_registration_path, :method => :get
   = "."
 -else
  .welcome
   Welcome back,
   =current_user.name

