.hero-unit
 %h1 Hello, world!
 %p This  is  a  template for a simple marketing or informational website.  It  includes  a large callout called the hero unit and three  supporting  pieces of  content. Use it as a starting point to create  something more  unique.
 %p
 %a.btn.btn-primary.btn-large Learn more &raquo;




- content_for :sidebar do
 %ul.nav.nav-list
  %li.nav-header Sidebar
  %li= link_to "Link 4", "/path1"
  %li= link_to "Link 5", "/path2"
  %li= link_to "Link 6", "/path3"
